@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Muli:700,900|Playfair+Display|Rock+Salt&display=swap");

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.15);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

h2 {
  color: #0b0d0d;
  font-size: calc(65px + (90 - 65) * ((100vw - 1000px) / (1600 - 1000)));
  font-family: Muli;
  font-style: normal;
  font-weight: 900;
  margin: 0;
  padding: 0;
  line-height: 7vw;
}
h4 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: calc(22px + (27 - 22) * ((100vw - 1000px) / (1600 - 1000)));
  letter-spacing: 0.03em;
  color: #0b0d0d;
}

p {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: normal;
  font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
  line-height: 200%;
  letter-spacing: 0.01em;
  color: #0b0d0d;
  margin-bottom: 40px;

  @media screen and (max-width: 820px) {
    margin-bottom: 20px;
  }
}

.nav-bar {
  position: fixed;
  z-index: 99;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding: 3rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 700px) {
    width: 80%;
  }
  img {
    margin: 0;
  }
  .logo-container {
    transition: transform 200ms ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  .nav-links-container {
    width: 30vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 700px) {
      text-align: right;
    }
    .mobile-menu-button {
      display: none;
      cursor: pointer;
      @media screen and (max-width: 700px) {
        display: inline-block;
      }
    }
    @media screen and (max-width: 1500px) {
      width: 40vw;
    }
    @media screen and (max-width: 1000px) {
      width: 50vw;
    }
    @media screen and (max-width: 700px) {
      text-align: right;
      justify-content: flex-end;
    }
    a {
      color: white;
      text-decoration: none;
      font-family: Muli;
      font-style: normal;
      font-weight: 700;
      font-size: 0.6rem;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.12em;
      transition: transform 200ms ease;
      &:hover {
        transform: scale(1.15);
      }
      @media screen and (max-width: 700px) {
        text-align: right;
        display: none;
      }
    }
  }
}

.nav-bar-dark {
  a {
    color: #0b0d0d;
  }
}

.Intro-container {
  height: 100vh;
  width: 100%;
  background: #0b0d0d;
  box-shadow: 50px 50px 100px 120px #0b0d0d22;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  .name-container {
    width: 80%;
    margin: 100px auto;
    @media screen and (max-width: 700px) {
      width: 90%;
      text-align: center;
    }
    h1 {
      font-family: "Rock Salt";
      color: #ebebeb;
      font-size: calc(65px + (90 - 60) * ((100vw - 1000px) / (1600 - 1000)));
      font-weight: 100;
      line-height: 100%;
      letter-spacing: 0.04em;
      margin: 2rem 0;
      cursor: default;
    }
    h3 {
      font-family: Roboto Mono;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 35px;
      letter-spacing: 0.235em;
      font-size: calc(22px + (28 - 22) * ((100vw - 1000px) / (1600 - 1000)));
      cursor: default;
      color: #efefef;
    }
  }
}

.drips-container {
  background: url("../assets/icons/drips.svg") repeat-x;
  height: 290px;
  width: 100%;
  top: 103vh;
  margin: -10 0 0 0;
  padding: 0;
  filter: drop-shadow(30px 20px 20px rgba(0, 0, 0, 0.1));
}

.about-me-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 55%;
  margin: 60px auto;
  align-items: center;
  @media screen and (max-width: 1500px) {
    width: 80%;
  }
  @media screen and (max-width: 700px) {
    flex-flow: column-reverse nowrap;
    width: 100%;
  }

  .about-me-info {
    width: 55%;
    @media screen and (max-width: 700px) {
      flex-flow: column-reverse nowrap;
      width: 90%;
    }
    h2 {
      margin-bottom: 30px;
      cursor: default;
    }

    p {
      font-family: "Roboto Mono";
      font-style: normal;
      font-weight: normal;
      font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
      line-height: 200%;
      letter-spacing: 0.01em;
      color: #0b0d0d;
      margin-bottom: 60px;
      span {
        text-decoration: line-through;
      }
    }
    .web-tech-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      @media screen and (max-width: 1000px) {
        width: 90%;
      }
    }
    .web-tech {
      // margin-right: 40px;
      transition: transform 200ms ease;
      &:hover {
        transform: scale(1.5);
      }
    }
    .thumbs-up {
      width: 80px;
      margin: 20px 0;
    }
  }
  .about-me-image {
    img {
      height: 1000px;
      filter: drop-shadow(30px 20px 20px rgba(0, 0, 0, 0.1));
      @media screen and (max-width: 1500px) {
        height: 80vw;
      }
      @media screen and (max-width: 700px) {
        height: 180vw;
        margin: 40px 0;
      }
    }
  }
}

.recent-work-container {
  margin: 200px 0;
  text-align: center;
  @media screen and (max-width: 700px) {
    margin-bottom: 60px;
  }
  h2 {
    margin: 0.9vw 0;
    line-height: 100%;
    cursor: default;
    @media screen and (max-width: 700px) {
      margin: 20px 0;
    }
  }
  h4 {
    line-height: 100%;
    margin: 0 0 50px 0;
    padding: 0;
  }

  .down-arrow {
    margin-top: 50px;
  }
  .bounce {
    animation: bounce 1.5s infinite;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
}

.work-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
  align-items: center;

  .project-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    @media screen and (max-width: 700px) {
      flex-flow: column nowrap;
    }

    h2 {
      margin: 0 0 20px 0;
      padding: 0;
      line-height: 100%;
      &:hover {
        opacity: 0.8;
      }
    }
    h4 {
      font-family: Playfair Display;
      font-style: normal;
      font-weight: normal;
      font-size: calc(22px + (27 - 22) * ((100vw - 1000px) / (1600 - 1000)));
      line-height: 100%;
      margin: 0 0 50px 0;
      padding: 0;
      letter-spacing: 0.03em;
      color: #0b0d0d;

      @media screen and (max-width: 820px) {
        margin-bottom: 20px;
      }
    }
    p {
      font-family: "Roboto Mono";
      font-style: normal;
      font-weight: normal;
      font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
      line-height: 200%;
      letter-spacing: 0.01em;
      color: #0b0d0d;
      margin-bottom: 40px;
      @media screen and (max-width: 820px) {
        margin-bottom: 20px;
      }
    }
    a {
      text-decoration: none;
      font-family: Muli;
      font-style: normal;
      font-weight: 900;
      // font-size: 12px;
      font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
      line-height: 200%;
      /* or 32px */
      letter-spacing: 0.16em;
      color: #0b0d0d;
    }
    .more-info {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      a {
        transition: margin-left 200ms ease, opacity 200ms ease;
        text-transform: uppercase;
        &:hover {
          margin-left: 10px;
          opacity: 0.8;
        }
      }
      img {
        margin-left: 10px;
      }
    }
    .work-left {
      width: 50%;
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
      @media screen and (max-width: 700px) {
        width: 100%;
      }
      img {
        vertical-align: bottom;
        transition: opacity 200ms ease, transform 200ms ease;

        opacity: 0.9;
        &:hover {
          opacity: 1;
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
    .work-right {
      width: 50%;
      margin: 0;
      padding: 0;
      @media screen and (max-width: 700px) {
        width: 100%;
      }
    }
    .project-info {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: space-around;
      width: 35vw;
      height: 100%;
      margin: 0 auto;
      h2 {
        font-size: calc(45px + (60 - 45) * ((100vw - 1000px) / (1600 - 1000)));
      }

      @media screen and (max-width: 700px) {
        width: 90vw;
      }
      @media screen and (max-width: 700px) {
        margin: 30px auto 100px auto;
      }
    }
  }
  .reverse {
    @media screen and (max-width: 700px) {
      flex-flow: column-reverse nowrap;
    }
  }
}

.contact-container {
  width: 60vw;
  margin: 300px auto;
  text-align: center;
  @media screen and (max-width: 700px) {
    width: 90vw;
    margin: 100px auto 250px auto;
  }
  img {
    width: 70px;
  }
  h2 {
    margin-top: 2vw;
    cursor: default;
    @media screen and (max-width: 700px) {
      margin: 20px 0;
    }
  }
  h3 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #0b0d0d;
    margin: 0 0 60px 0;
  }
  h4 {
    margin-bottom: 80px;
  }

  .contact-info-container {
    // text-align: left;
    transition: transform 200ms ease;
    &:hover {
      transform: scale(1.1);
      opacity: 0.9;
    }
    a {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      width: fit-content;
      margin: 10px auto;
      text-decoration: none;

      p {
        vertical-align: middle;
        align-self: center;
        margin: 0 0 0 20px;
        padding: 0;
        font-family: "Roboto Mono";
        font-style: normal;
        font-weight: normal;
        font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
        line-height: 200%;
        /* or 40px */
        letter-spacing: 0.01em;

        color: #0b0d0d;
      }
      .phone {
        width: 15px;
      }
      .message {
        width: 20px;
      }
    }
  }
}

.nav-bar.inverse {
  padding: 2rem 0;

  .logo-container {
    transition: transform 200ms ease;
    svg {
      transform: scale(0.7);
    }
  }
  a {
    color: black;
    @media screen and (max-width: 700px) {
      color: white;
    }
  }
}

.project-header {
  height: 100vh;
  width: 100%;
  box-shadow: 0px 0px 80px 60px #0b0d0d22;
  z-index: 1;
  // padding: 19rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  @media screen and (max-width: 700px) {
    padding: 0;
    height: 75vh;
  }
  h1 {
    font-family: Muli;
    font-style: normal;
    font-weight: 900;
    // font-size: 150px;
    font-size: calc(63px + (150 - 63) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 50px rgba(0, 0, 0, 0.18);
    cursor: default;
    @media screen and (max-width: 700px) {
      line-height: 75vh;
      padding: 0;
      margin: 0;
    }
  }
}

.how-to-header {
  background: linear-gradient(
      180deg,
      rgba(26, 26, 26, 0.75) 10%,
      rgba(0, 0, 0, 0) 100%
    ),
    no-repeat url("../images/how-to-cover.png");

  background-size: cover;
  background-position: center center;
}

.replate-header {
  background: linear-gradient(
      180deg,
      rgba(26, 26, 26, 0.75) 10%,
      rgba(0, 0, 0, 0) 100%
    ),
    no-repeat url("../images/replate-cover-large.jpg");

  background-size: cover;
  background-position: center center;
}

.designhub-header {
  background: linear-gradient(
      180deg,
      rgba(26, 26, 26, 0.75) 10%,
      rgba(0, 0, 0, 0) 100%
    ),
    no-repeat url("../images/designhub-cover.png");

  background-size: cover;
  background-position: center center;
}

.project-description-container {
  margin: 120px auto;
  width: 75%;
  @media screen and (max-width: 900px) {
    width: 90%;
    margin: 30px auto;
  }
  .project-intro-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    @media screen and (max-width: 900px) {
      flex-flow: column-reverse nowrap;
    }
    .intro-text {
      width: 48%;
      @media screen and (max-width: 900px) {
        width: 100%;
        margin: 30px 0;
      }
      h2 {
        cursor: default;
        line-height: 100%;
        margin: 0 0 20px 0;
        padding: 0;
      }
      h4 {
        line-height: 100%;
        margin: 0 0 50px 0;
        padding: 0;
      }
    }
    .details {
      width: 45%;
      height: fit-content;
      border: 2px solid rgba(11, 13, 13, 0.068);
      box-sizing: border-box;
      border-radius: 8px;
      margin: 0;
      padding: 40px;
      box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
      background: #f1f1f12f;
      align-self: center;
      @media screen and (max-width: 900px) {
        width: 100%;
        padding: 20px;
      }
      p {
        margin: 0;
        padding: 0;
        letter-spacing: 0.16em;
        text-transform: uppercase;
        font-family: "Roboto Mono";
        font-style: normal;
        font-weight: normal;
        font-size: calc(10px + (13 - 10) * ((100vw - 300px) / (1600 - 300)));
      }
      span {
        letter-spacing: 0.16em;
        text-transform: uppercase;
        font-family: "Roboto Mono";
        font-style: normal;
        font-weight: bold;
        font-size: calc(10px + (13 - 10) * ((100vw - 300px) / (1600 - 300)));
      }
      h5 {
        text-decoration: none;
        font-family: Muli;
        font-style: normal;
        font-weight: 900;
        font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
        letter-spacing: 0.16em;
        text-transform: uppercase;
        padding: 0;
        margin: 0 0 20px 0;
        color: #0b0d0d;
      }
      .tech-stack-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin-bottom: 20px;
      }
      .project-details-container {
        margin-bottom: 30px;
        @media screen and (max-width: 700px) {
          margin-bottom: 30px;
        }
      }
      .links-container {
        .links-earth {
          width: 25px;
          display: inline-block;
          margin-right: 10px;
        }
        .link {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 10px;
          svg {
            width: 25px;
            height: auto;
            margin-right: 10px;
          }
          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
          }
        }
        p {
          display: inline-block;
          line-height: 25px;
          font-weight: bold;
        }
        a {
          vertical-align: middle;
          height: 25px;
        }
      }
      .tech {
        box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        width: fit-content;
        padding: 0 30px;
        height: 40px;
        text-align: center;
        margin: 0 15px 15px 0;
        p {
          color: white;
          font-size: 12px;
          line-height: 40px;
          text-transform: uppercase;
          letter-spacing: 0.1em;
        }
      }
      .react {
        background: #3ab3d2;
      }
      .redux {
        background: #764abc;
      }
      .node {
        background: #78c128;
      }
      .postgres {
        background: #336791;
      }
      .express {
        background: #272727;
      }
      .aws {
        background: #ff9900;
      }
      .twilio {
        background: #f22f46;
      }
      .auth0 {
        background: #eb5424;
      }
    }
  }
  .project-design-container {
    h6 {
      color: #0b0d0d;
      font-size: 40px;
      font-family: Muli;
      font-style: normal;
      font-weight: 900;
      letter-spacing: -0.15rem;
      margin: 0 0 20px 0;
      padding: 0;
      line-height: 100%;
      cursor: default;
    }
    .colors-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin: calc(30px + (140 - 30) * ((100vw - 300px) / (1600 - 300))) 0;
      @media screen and (max-width: 700px) {
        display: none;
      }
      .color {
        width: calc(25px + (150 - 25) * ((100vw - 300px) / (1600 - 300)));
        height: calc(25px + (150 - 25) * ((100vw - 300px) / (1600 - 300)));
        border-radius: 100%;
        text-align: center;
        p {
          line-height: calc(
            25px + (150 - 25) * ((100vw - 300px) / (1600 - 300))
          );
          color: white;

          font-size: calc(10px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));
          text-transform: uppercase;
          letter-spacing: 0.1em;
        }
      }
      .how-to-green {
        background: #55d55a;
      }
      .how-to-blue {
        background: #3ab6ec;
      }
      .how-to-yellow {
        background: #f3c41e;
      }
      .how-to-red {
        background: #e94949;
      }
      .how-to-orange {
        background: #ec7723;
      }
      .how-to-black {
        background: #171717;
      }
      .replate-green {
        background: #4cb050;
      }
      .replate-blue {
        background: #3066be;
      }
      .replate-black {
        background: #272d2d;
      }
      .replate-red {
        background: #c94e3e;
      }
      .designhub-black {
        background: #15161a;
      }
      .designhub-grey {
        background: #6d6d72;
      }
      .designhub-blue {
        background: #5557fe;
      }
      .designhub-purple {
        background: #9555fe;
      }
      .designhub-gradient {
        background: linear-gradient(91.72deg, #5557fe -2.36%, #9555fe 103.67%);
      }
    }
    .fonts-ui-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      @media screen and (max-width: 700px) {
        display: none;
      }
      .card {
        background: white;
        box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
        padding: 40px 80px;
        @media screen and (max-width: 1200px) {
          padding: 20px 40px;
        }
        @media screen and (max-width: 900px) {
          padding: 20px;
        }
        img {
          margin: 60px 0 40px -15px;
        }
        h6 {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
          line-height: 23px;
          letter-spacing: 0.4px;

          color: #676767;
        }
      }
      .fonts-container {
        width: 50%;
      }
      .ui-container {
        width: 40%;
      }
    }

    .prototype-container {
      margin: 80px auto;
      @media screen and (max-width: 700px) {
        display: none;
      }
      iframe {
        margin: 0 auto;
        width: 100%;
        height: 1100px;
        border: none;
      }
    }

    .how-to-screens {
      margin: 100px auto;
      iframe {
        margin: 0 auto;
        width: 100%;
        height: 86vh;
        border: none;
        @media screen and (max-width: 700px) {
          height: 230px;
        }
      }
    }

    .project-logo-container {
      margin: 0 auto;
      text-align: center;
      @media screen and (max-width: 700px) {
        margin: 100px 0;
      }
    }
  }
}
.previous-next {
  background: white;
  height: 300px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 88px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.18);
  overflow: hidden;
  @media screen and (max-width: 900px) {
    padding: 0;
  }
  h6 {
    color: #0b0d0d;
    font-size: calc(40px + (50 - 40) * ((100vw - 1000px) / (1600 - 1000)));
    font-family: Muli;
    font-style: normal;
    font-weight: 900;
    letter-spacing: -0.15rem;
    margin: 0;
    padding: 0;
    line-height: 100%;
  }
  h4 {
    margin: 0 0 30px 0;
  }
  a {
    height: 100%;
    text-decoration: none;
    width: 100%;
    transition: transform 200ms ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  .previous,
  .next {
    width: 100%;
    height: 100%;
    padding: 0 120px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    @media screen and (max-width: 900px) {
      padding: 20px;
      justify-content: center;
      flex-flow: column nowrap;
      h6 {
        display: none;
      }
    }
  }
  .previous {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    text-align: right;
    img {
      min-width: 91px;
    }
    @media screen and (max-width: 900px) {
      width: 100%;
      flex-flow: column-reverse nowrap;
    }
  }
  .next {
    img {
      min-width: 91px;
    }
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
}

.about-anchor {
  display: block;
  position: relative;
  top: 120px;
  visibility: hidden;
}

.contact-anchor {
  display: block;
  position: relative;
  top: 100px;
  visibility: hidden;
}

#page-wrap {
  text-align: center;
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;
  font-size: 2.5rem !important;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 40px;
  color: #d1d1d1;
  transition: color 0.1s;
  line-height: 100% !important;
  .menu-item {
    color: white;
  }
}

/* Change color on hover */
.bm-item:hover {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.bm-item:visited {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 30px !important;
  width: 30px !important;
  margin: 70px 45px 0 0;
}

/* General sidebar styles */
.bm-menu {
  background: #000000;
  padding: 5em 1.5em 0;
  font-size: 2rem;
  font-family: Roboto;
  color: white;
  height: 100vh !important;
}

/* Wrapper for item list */
.bm-item-list {
  color: #ffffff;

  a {
    color: white;
    text-align: center !important;
  }
}

.bm-menu-wrap {
  position: fixed;
  bottom: 0;
  right: -70px !important;
}

/* Styling of overlay */
.bm-overlay {
  display: none;
}
